footer{
    padding: 20px;
    background-color: black;
    .footer-header{
        display: flex;
        justify-content: center;

            img{

                width: 50px;
                height: 50px;
                display: block;
            }
            h1{
                color:white;
                margin:0;
            }
            span{
                width: 20%;
                height: 20px;
                border-bottom: 1px solid white;
            }
            .left-line{
                margin-right: 10px;
            }
            .right-line{

                margin-left: 10px;

            }

    }

        .bottom-nav{
            ul{
                display: flex;
                width: 600px;
                margin:0 auto;
                li{
                    list-style-type: none;
                    flex:1;
                    a{
                        display:block;
                        text-decoration: none;
                        color:white;
                    }

                }


            }


        }

    .copyright-logo{
        display: flex;
        justify-content: space-between;
        h3{
            color:white;
            font-size: 12px;

        }
        .logo{
            width: 200px;
            display: flex;
            justify-content:space-around;
            img{
            width: 30px;
            height: 30px;
            &:hover{
                opacity: .6;


            }
            }

        }



    }

    @media only screen and (max-width:$phone-wide){
        padding: 0;
        .footer-header{
            width: 100%;
            padding-top: 15px;
            img{
                width: 40px;
                height: 40px;
            }
            h1{
                
                font-size:25px;

            }
            span{
                width: 15%;


            }
        }
        .bottom-nav{
           width: 100%;
            ul{
                width: 100vw;
                font-size: 10px;
                padding: 0;
                margin-top:10px;
                li{
                    flex:1;
                    text-align: center;
                }
            }

        }

            .copyright-logo{
                flex-direction: column;

                .logo{
                    width:100;
                    margin:0 auto;
                }
                h3{

                    text-align: center;

                }
            }

    }

}