.home-products{
display: grid;
grid-template-columns:repeat(16,1fr);
grid-template-rows: auto;
background-color: black;
    .products-header{

        grid-column: 1/17;
        text-align: center;
        align-self: center;
        h1,h2{
            font-weight: normal;
            color:white;
        }
        h1{
            font-size: 50px;
            text-decoration: underline;
            letter-spacing: 5px;
            span{

                font-weight: bold;
            }
        }
        h2{

            font-size: 40px;
            letter-spacing: 3px;
        }
    }
 .products{
     padding: 10px;
   .img-div{
    position: relative;
    height: 300px;
    margin : 0 auto;
    img{
        display: block;
        margin:0 auto;
        border:4px solid white;
      
        @include imageSet;
    }
    .products-cover{
        position: absolute;
        top:0;
        left: 0;
        background-color:rgba(0,0,0,0.6);
        width: 100%;
        height: 100%;
        display:none;

        a{
            position: absolute;
            @include center(false,true);
            font-size: 10px;
            background:black;
            padding: 10px;
            color: white;
            text-decoration: none;
            border:2px solid white;
            z-index: 999;

        }
    }
   }
   

    .product-link{
        color:white;
        font-weight: normal;
        letter-spacing: 3px;
        text-align: center;
        font-size: 30px;
        display: block;
        margin-top:10px;
        text-underline-position: under;
        margin-bottom: 30px;
    }
 }

    .products-img01{
        @include grid(3,7,2,3);

    }
    .products-img02{

        @include grid(7,11,2,3);

    }
    .products-img03{

        @include grid(11,15,2,3);

    }


    @media only screen and (max-width:$tablet-landscape){
        .img-div{
            width: 400px;
            height: 300px;


        }


        .products-img01{
            @include grid(1,17,2,3);
    
        }
        .products-img02{
    
            @include grid(1,17,3,4);
    
        }
        .products-img03{
    
            @include grid(1,17,4,5);
    
        }

    }



    @media only screen and (max-width:$phone-wide){
        .products-header{
            h1{
                font-size: 30px;

            }
            h2{
                font-size: 20px;

            }

        }


.products{
.img-div{

    width: 250px;
    height: 250px;
}
a{


font-size: 20px;

}

}
    .products-img01{
       
        @include grid(1,17,2,3);
    }
    .products-img02{

        @include grid(1,17,3,4);

    }
    .products-img03{

        @include grid(1,17,4,5);

    }

    }


}