// Variables
$nav-link-hover: #9c0b0b;
$nav-font-color:white;
$nav-bgc:rgba(0,0,0,0.7);
$button-bdg:#463d3d;
$font-color:white;
// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';

// Breakpoints
$tablet-landscape: em(1024);
$phone-wide: em(650);

