// Variables
$nav-link-hover: white;
$nav-font-color:white;
$font-color:white;
// Utility variables
$link-hover-selector: '&:hover, &:focus, &:active';

// Breakpoints
$tablet-landscape: em(1024);
$phone-wide: em(768);

